body

.one1{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1% 2%;
    border-radius: 14px;
    
}

.two{
    text-decoration: none;
    background-color: rgb(59, 119, 192);
    color: white;
    padding: 1% 2%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 14px;

}

.three{
    text-decoration: none;
    background-color: rgb(191, 84, 84);
    padding: 1% 2%;
    color: white;
    border-radius: 14px;
}

.social-buttons {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 14%;
    
    
}


p{
    color: green;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

body{
    background-image: url(./Kate\ Light\ Gray\ Abstract\ Texture\ Backdrop\ for\ Photography.jpeg);
}
